<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>众联亿家首页</title>
    <link rel="stylesheet" href="css/layui.css" />
      <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
  <script src="js/zlyijia.js"></script>
 <link rel="stylesheet" href="css/nav.css" type="text/css" />
<style type="text/css" media="screen">

    .rowmargin{
        margin-top:30px;
    }
    .myrow{
        background:white;

        background:;
    }
     .myrow:hover{
        background:#31A03D;
    cursor:pointer;
}
#leftFloat{
        width: 103px;
    left: 50.4px;
    background-color: #319F3C;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
.left{

}
</style>
  </head>
  <body style="background-color:#F3F3F3;">
  <div class="row">
        <nav class="navbar navbar-default" style="align-content: center;">
        <div class="col-md-2 logo">
          <img src="img/logo.jpg" alt="" class="img-responsive">
        </div>
  <div class="container-fluid col-md-8">
                    <!-- 汉堡按钮 手机端显示 -->
                    <div class="navbar-btn">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- 导航的内容 -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="layui-nav">
    <li class="layui-nav-item"><a href="">首页</a></li>
    <li class="layui-nav-item"><a href="">点匠</a></li>
    <li class="layui-nav-item"><a href="">链装之道</a></li>
    <li class="layui-nav-item"><a href="">合作伙伴</a></li>
    <li class="layui-nav-item"><a href="">链装案例</a></li>
    <li class="layui-nav-item"><a href="">链装新闻</a></li>
    <li class="layui-nav-item"><a href="">软件下载</a></li>
    <li class="layui-nav-item"><a href="">关于我们</a></li>
     </ul>
  </div>
  </div>
  <div class="col-md-2">
  <div class="login">
  <button id="login" class="login_button"  type="button"> 登录
</button>
  </div>
  <div class="register">
<button id="fat-btn" class="register_button"  type="button"> 注册
</button>
  </div>
    <div class="console">

<img src="img/computer.jpg" alt="" class="img-responsive">

  </div>
</div>
 </nav>
  </div>

<div>
     <img src="img/lianzhuangnews.png" class="img-responsive">
</div>

<!----------------------------------------------------------------中间新闻开始------------------------------------------------------------------------------------------------------------------->
<div style="padding-top:50px;">
	<!--左边div-->
	<!-- <div style="background-color:#F3F3F3;width：20%;float:left;padding-left:240px;" class="left">
		<div style="width:103px;height:121px;background-color:#319F3C;" id="leftFloat">
			<h1><font color="width">28</font></h1><br>
			<p>2017-09-29</p>
		</div>
	</div> -->
	<!--中间div-->
	<div style="background-color:white;text-align:center;margin:0 auto;border:0px solid #000;width:1200px; padding:50px;">
		<h1 style="text-align:center;">
			<strong>
				<h1 align="center" style="margin-left:0.0000pt;text-indent:0.0000pt;text-align:center;">
					<b><span class="15" style="font-family:&quot;">众联亿家与各商家</span></span></b>
				</h1>
			</strong>
				<h1 align="center" style="margin-left:0.0000pt;text-indent:0.0000pt;text-align:center;">
					<span style="font-family:楷体_GB2312;font-weight:normal;font-size:10.5pt;"><span>作者：</span>***&nbsp;时间：2017-09-29&nbsp;11:23:25&nbsp;浏览：</span><span style="font-family:楷体_GB2312;color:#60D978;font-weight:normal;font-size:10.5pt;">1989</span><b><span style="font-family:宋体;font-size:9pt;"></span></b>
				</h1>
			<p>
				<span style="font-family:楷体_GB2312;color:#60D978;font-weight:normal;font-size:10.5pt;">
					<hr style="dashed #000; height:1px" />
					<br />
				</span>
			</p>
			<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
					<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	        </p>
			<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
			</span>
			</p>
		    <p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		    </p>
		    <p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
					<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	        </p>
			<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
		        </span>
		    </p>
		    <p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		    </p>
		    <p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
					<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	        </p>

			<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
		        </span>
		    </p>
		    <p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		    </p>
			<p class="MsoNormal" style="text-align:center;margin-left:0pt;text-indent:0pt;">
				<img src="img/newscontent.png" /><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
			</p>
			<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
		        </span>
		    </p>
		    <p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			    <span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		    </p>
		    <p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
				<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	        </p>
		<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
		</span>
		</p>
		<div style="text-align:left;">
		</div>
		<p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		</p>
		<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
					<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	     </p>
		<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
			<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><br />
		</span>
		</p>
		<p class="MsoNormal" style="margin-left:0pt;text-indent:0pt;">
			<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"></span>
		</p>
		<p class="MsoNormal" style="text-align:left;margin-left:0pt;text-indent:0pt;">
					<span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>北京众联亿家科技有限公司，成立于</span>2015年8月，座落在大兴生物医药基地。是一家专注于木作制品量·送·装平台式垂直服务的平台化公司。</span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;"><span>通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；通过近两年探索和实践建立了工业化的现场管理。实现客户、业主、工匠之间的服务链的完美链接；</span></span><span style="font-family:微软雅黑;color:#333333;font-size:10.5pt;">&nbsp;</span>
	    </p>
		</strong>
		</h1>
			<h1 style="text-align:center;">
				<span style="font-size:10px;font-family:KaiTi_GB2312;"></span><span style="font-family:KaiTi_GB2312;font-size:10px;"></span><span style="font-size:12px;"><span style="font-family:KaiTi_GB2312;font-size:10px;"></span><span style="color:#60D978;font-family:KaiTi_GB2312;font-size:10px;"></span></span>
			</h1>
	</div>
	<!--右边div-->
	<div style="background-color:#F3F3F3;width：20%;float:right"></div>
</div>

<!----------------------------------------------------------------中间新闻结束------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid" style="background:#F3F3F3">


<div class="row  rowmargin">
     <div class="col-md-2">

     </div>
     <div class="col-md-8">
            <div class="row clearfix">
        <div class="col-md-2 column">
            <h1 style="font-size: 50px;">
            </h1>
            <p>

            </p>

        </div>
        <div class="col-md-8 column">
            <div class="container">
                 <div class="row">
                 <div class="col-md-1">

                      </div>
                      <div class="col-md-7">
                      <div class="row">
                      <div class="col-md-6">
                             <img src="img/shangyiye.png" class="img-responsive">
                      </div>
                          <div class="col-md-6">
                            <img src="img/xiayiye.png" class="img-responsive">
                      </div>

                      </div>


                      </div>
                      <div class="col-md-4">

                      </div>
                 </div>
            </div>

        </div>
        <div class="col-md-2 column">
        <div class="container">

        </div>

        </div>
    </div>
     </div>
     <div class="col-md-2">

     </div>
</div>
</div>

<div style="margin-top:30px">

</div>

<div class="footer row">
<div class="footer-div1">
<span class="footer-div1-title"> 合作伙伴</span>
<div class="footer-div1-page">
 <ul>
    <li>蜗牛装饰网</li>
    <li>蜗牛装饰网</li>
    <li>蜗牛装饰网</li>
    <li>蜗牛装饰网</li>
    <li>蜗牛装饰网</li>
    <li>蜗牛装饰网</li>

</ul>
</div>
</div>

<div class="footer-div2">
<span class="footer-div1-title"> 链装之道</span>
<div class="footer-div1-page">
 <ul>
    <li>谁能加入</li>
    <li>商家加入</li>
    <li>运营商加入</li>
<li>安装团队加入</li>
</ul>
</div>
</div>

<div class="footer-div3">
<span class="footer-div3-title"> 联系方式</span>
<div class="footer-div3-page">
 <ul>
    <li>北京众联亿家科技有限公司</li>
    <li>网址：http:zlyijia.com</li>
    <li>地址：北京大兴区启航国际</li>
<li>电话：010-855555555</li>
<li>email：134444444@qq.com</li>
</ul>
</div>
</div>

<div class="footer-div4">
<div class="footer-div4-image">
<img src="img/wechatlogo.jpg" alt="">
</div>

</div>

<div class="footer-div5">

</div>
<div class="footer-div6">
<div class="footer-div6-inner">

京ICP备14031000号 @ 2007-2004 北京众联科技有限公司 @ 版权所有
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">公司概况</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">新闻中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">案例展示</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">软件下载</a>
</div>
</div>
</div>
  <script type="text/javascript">
          var changeColor={
            mouseMove:function(){
              $("#line2").css({"color":"#FAF0E6","background-color": "#FAF0E6"});
            },
            init:function(){
              $("#line2").css({"color":"green","background-color": "green"});
            },
            mouseover:function(){
                 $("#line2").css({"color":"green","background-color": "green"});
            }
          }
changeColor.init();
  </script>
<script src="js/layui.all.js" charset="utf-8"></script>

  </body>
</html>