<?xml version="1.0" encoding="UTF-8"?>

<!-- ###################################### -->
<!-- LogBack logger configuration -->
<!-- ###################################### -->
<configuration scan="false" debug="false">
  <property name="log_pattern"
    value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{1} -%msg%n" />
  <property name="logLocal" value="logs" />
  <property name="maxHistory" value="30" />

  <!-- 控制台输出 -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <!-- 时间滚动输出 level为 DEBUG 日志 -->
  <appender name="stdfile"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logLocal}/api-all.%d{yyyy-MM-dd}.log
      </FileNamePattern>
      <MaxHistory>${maxHistory}</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <appender name="stdlog"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logLocal}/api-log.%d{yyyy-MM-dd}.log
      </FileNamePattern>
      <MaxHistory>${maxHistory}</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <!-- 时间滚动输出 level为 ERROR 日志 -->
  <appender name="stderror"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${logLocal}/api-error.%d{yyyy-MM-dd}.log
      </FileNamePattern>
      <MaxHistory>${maxHistory}</MaxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${log_pattern}</pattern>
    </encoder>
  </appender>

  <logger name="java.sql.Connection" level="ERROR" />
  <logger name="java.sql.Statement" level="ERROR" />
  <logger name="org.hibernate" level="OFF" />
  <logger name="org.springframework" level="ERROR" />
  
  <logger name="com.zlyijia.api.fw.log.LogHandlerAop" level="ERROR" />
  
  <logger name="com.zlyijia.api.sms.service.impl.SmsServiceImpl" level="INFO" />

  <root level="ERROR">
    <appender-ref ref="stdout" />
    <appender-ref ref="stdfile" />
    <appender-ref ref="stdlog" />
    <appender-ref ref="stderror" />
  </root>

</configuration>